.menu {
    position: fixed;
    right: 1vw;
    top: 2vw;
    width: 3vw;
    z-index: 100;
}

.menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

/**CSS พระพาย**/
.boat_cover{
    position: absolute; left: 32.5vw; top:-25vw;
    animation-name: boat_xaxis;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.boat_wrap{
    animation-name: boat_yaxis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}
.babin_cover{
    position: absolute; left: 78.5vw; top:20vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.prapai_intro{
    animation-name: dukdik;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.kradong{
    animation-name: kradong_slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.char_ingre{
    animation-name: flydown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes boat_xaxis {
        50% {transform: translateX(-30vw);}
    }
@keyframes boat_yaxis {
    0% {transform: translateY(0vw);}
    50% {transform: translateY(1vw);}
    100% {transform: translateY(0vw);}
}
@keyframes fly {
        50% {transform: translateY(-5vw);}
    }
@keyframes dukdik {
        50% {transform: rotateZ(5deg);}
    }
@keyframes kradong_slide {
        50% {transform: translateX(-4vw) translateY(-2vw);}

    }
@keyframes flydown{
    50% {transform: translateY(3vw);}
}
.top_title {
    width: 100vw;
    height: 161vw;
    color: #447e66;
}

.bg_prapai {
    background-image: url("../img/Prapai/PC/2x/พื้นหลังพระพาย@2x.png");
    width: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 100%;
    height: 105vw;
    text-align: center;
    position: relative;
}

.point_bg_yellow {
    position: absolute;
    height: 42.5vw;

}

.ayuthaya {
    position: absolute;
    height: 5%;
    top: 5%;
    left: 4vw;
}

.text {
    position: absolute;
    width: 100%;
}

.yellow_could {
    position: relative;
    top: 13vw;
    left: 10v;
}

.info_prapai {
    font-size: 1.15vw;
    text-align: left;
    left: 41.5vw;
}
.info_prapai_center {
    font-size: 1.15vw;
}
.ingredient_container{
    width: 100vw; 
    height: 250vw;
    position: relative;
    background-color: #f3f3e5;
    text-align: center;
    z-index: -1;
}
.box_ing{
    position: absolute;
    text-align: center;
}
.grid-container {
    display: inline-grid;
    grid-template-columns: 20vw 20vw 20vw;
    top: 20vw;
    position: relative;
  }
  .grid-item {
    font-size: 1vw;
    text-align: center;
    color: #468066;
  }
.textp_pos{
    position: absolute;
    color: #468066;
    font-size: 1.25vw;
}
.bottomp_container{
    width: 100vw; 
    height: 90vw;
    position: relative;
    background-color: white;
    text-align: center;
}

body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Kodchasan', sans-serif;
    background-color: #f3f3e5;
}
.top_container {
    width: 100vw;
    height: 350vw;
    position: relative;
    top: 1.2vw;
}

.middle_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 207vw;
    background-color: #ffe9b8;
}

.box1 {
    width: 100vw;
    height: 100%;
    color: #6c90c4;
    position: relative;
}

/* ข้อความบน */
.open_text {
    top: 7.5vw;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.7vw;
}

.text_box {
    position: absolute;
}

h1 {
    font-size: 1.35vw;
}

h2 {
    font-size: 1.05vw;
}

.text_color1 {
    color: #488167;
}

.text_color2 {
    color: #97a0ef;
}
.line {
    position: absolute;
    top: -1%;
}
    /* CSS ช่วง 6 จบ */
    .bottom_container {
        background-color: #f3f3e5; 
        width: 100vw; 
        bottom: 0vw;
        text-align: center; 
        height: 32.5vw;
    }

    .door_mirror{
        position: relative;
        width: 100%;
        height: 100%;
        color: #488167;

    }
    .mirrorbreak_door{
        width:100%; 
        position: absolute;
        top: 0vw; 
        left:0vw;
        z-index: 3;
        
    }
    .mirrorback_door{
        width:50%; 
        position: absolute;
        top: 10vw; 
        left:25vw;
        z-index: 3;
        animation-name: mirrorback_fly;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        
    }
    .title_door{
        font-size: 1.5vw;
        position: absolute;
        top: 10vw; 
        left:40vw;
        text-align: left; 
        z-index: 3;
        color: #7194c5;
    }
    .door1{
        width:5%; 
        position: absolute;
        top: 17.5vw; 
        left:31vw;
        z-index: 3;
        
    }
    .door2{
        width:5%; 
        position: absolute;
        top: 17.5vw; 
        left:38.5vw;
        z-index: 3;
        
    }
    .door3{
        width:5%; 
        position: absolute;
        top: 17.5vw; 
        left:46vw;
        z-index: 3;
        
    }
    .door4{
        width:5%; 
        position: absolute;
        top: 17.5vw; 
        left:53.5vw;
        z-index: 3;
        
    }
    .door5{
        width:5%; 
        position: absolute;
        top: 17.5vw; 
        left:61vw;
        z-index: 3;
        
    }
    @keyframes door_anime{
        0% {transform:scale(1.00);}
        100% {transform:scale(1.25);}
    }
    .door_all:hover{
        animation-name: door_anime;
        animation-duration: 1s;
        transition-timing-function: ease-in-out;
        border-radius: 50%;
        transform:scale(1.25);
        cursor: pointer;
    }
    @keyframes mirrorback_fly{
        50%{transform: translateY(2vw);}
    }