body {
    background-color: #f3f3e5;
    font-family: 'Kodchasan', sans-serif;
    overflow-x: hidden;
}

.content1 {
    color: #7698c8;
    width: 100vw;
    justify-self: center;
}

.content2 {
    width: 100vw;
    justify-self: center;
}

.bulann_box1 {
    height: 85vw;
    position: relative;
    justify-content: center;
}

.bulann_box2 {
    height: 18vw;
    position: relative;
    justify-content: center;
    align-items: center;
}

.bulann_box3 {
    height: 80vw;
    position: relative;
    justify-content: center;
}

.bulann_box4 {
    height: 35vw;
    position: relative;
    justify-content: center;
}

.bulann_box5 {
    height: 60vw;
    position: relative;
    justify-content: center;
}

.bulann_box6 {
    height: 100vw;
    position: relative;
    justify-content: center;
}

.bulann_box7 {
    background-image: url(/img/bulann/pc/png/asset_39.png);
    height: 50vw;
    position: relative;
}

.bulann_box8 {
    background-color: red;
    height: 50vw;
    position: relative;
}

.bulann_head {
    width: 100vw;
    position: relative;
    height: 20vw;
}

#img_head {
    position: absolute;
    width: 100vw;
}

#typo_head {
    position: absolute;
    width: 57vw;
    top: 9vw;
}

#bulann_text1 {
    position: absolute;
    color: #7698c8;
    font-size: 2vw;
    top: 40vw;
}

#bulann_text2 {
    text-align: center;
    position: absolute;
    color: #59b4b7;
    font-size: 1.5vw;
}

#bulann_asset11 {
    position: absolute;
    width: 25vw;
    top: 55vw;
}

#bulann_asset12 {
    position: absolute;
    width: 10vw;
}

#note_asset7 {
    position: absolute;
}

#note_asset8 {
    position: absolute;
}

#note_asset9 {
    position: absolute;
}

#note_asset10 {
    position: absolute;
}

#cloud_asset4 {
    position: absolute;
    opacity: 70%;
    top: 32vw;
    left: 55vw;
}

#cloud_asset5 {
    position: absolute;
    opacity: 70%;
    top: 36vw;
    left: 5vw;
}

#cloud_asset6 {
    position: absolute;
    opacity: 70%;
}

#star_pink {
    position: absolute;
    width: 1.5vw;
}

.wrap_conver1 {
    position: absolute;
    width: 30vw;
    left: 15vw;
}

.wrap_conver2 {
    position: absolute;
    width: 28vw;
    left: 50vw;
}


/* content2 */

#textbox1 {
    position: absolute;
    width: 25vw;
    top: 10vw;
    left: 15vw;
}

#textbox2 {
    position: absolute;
    width: 25vw;
    top: 26vw;
    left: 51vw;
}

#textbox3 {
    position: absolute;
    width: 25%;
    top: 50vw;
    left: 17vw;
}

#textbox4 {
    position: absolute;
    width: 25vw;
    top: 23vw;
}

#textbox5 {
    position: absolute;
    width: 25vw;
    top: 40vw;
}

#bulann_text3 {
    font-size: 1.25vw;
    position: absolute;
    top: 17vw;
    left: 23vw;
}

#bulann_text4 {
    font-size: 1vw;
    text-align: center;
    position: absolute;
    left: 20vw;
    top: 19vw;
}

#bulann_text5 {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    left: 54vw;
    top: 34vw;
}

#bulann_text6 {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    left: 20vw;
    top: 58vw;
}

#bulann_text7 {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    left: 33vw;
    top: 18.5vw;
}

#bulann_text8 {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    left: 42vw;
    top: 25vw;
}

#bulann_text9 {
    font-size: 1vw;
    position: absolute;
    text-align: center;
    left: 56.5vw;
    top: 10.5vw;
}

#bulann_text10 {
    font-size: 1.25vw;
    position: absolute;
    text-align: center;
    left: 38vw;
    top: 3vw;
}

#bulann_text11 {
    font-size: 1.5vw;
    position: absolute;
    left: 1vw;
}

#bulann_text12 {
    font-size: 1.25vw;
    text-rendering: 10vw;
    line-height: 3vw;
}

#bulann_text13 {
    color: #95a4e9;
    font-size: 1.5vw;
    text-rendering: 10vw;
    line-height: 3vw;
    text-align: center;
}

#bulann_asset19 {
    position: absolute;
    width: 30%;
    top: 10vw;
    left: 54vw;
}

#bulann_asset17 {
    position: absolute;
    width: 5%;
    top: 10vw;
    left: 45vw;
}

#bulann_asset18 {
    position: absolute;
    width: 2%;
    top: 15vw;
    left: 55vw;
}

#bulann_asset8 {
    position: absolute;
    width: 2%;
    top: 14vw;
    left: 49vw;
}

#img_story2 {
    position: absolute;
    width: 30%;
    top: 33vw;
    left: 18vw;
}

#img_story3 {
    position: absolute;
    width: 25%;
    top: 50vw;
    left: 50vw;
}

#img_story4 {
    position: absolute;
    width: 50%;
}

#img_story5 {
    position: absolute;
    width: 14%;
    top: 15vw;
    left: 58vw;
}

#img_story6 {
    position: absolute;
    width: 4%;
    top: 23vw;
    left: 33vw;
}

#textbox6 {
    position: absolute;
    width: 14%;
    top: 16vw;
    left: 31vw;
}

#textbox7 {
    position: absolute;
    width: 14%;
    top: 23vw;
    left: 40vw;
}

#textbox8 {
    position: absolute;
    width: 14%;
    top: 9vw;
    left: 55vw;
}

#textbox9 {
    position: absolute;
    left: 30%;
}

.staple1 {
    justify-content: center;
    position: absolute;
    display: flex;
    width: 17vw;
    height: 7vw;
    left: 25vw;
    top: 2vw;
}

.staple2 {
    justify-content: center;
    position: absolute;
    top: 12vw;
    left: 30vw;
}

.staple3 {
    justify-content: center;
    position: absolute;
    top: 12vw;
}

.staple4 {
    justify-content: center;
    position: absolute;
    top: 10.5vw;
    left: 60vw;
}

.staple5 {
    justify-content: center;
    position: absolute;
    top: 30vw;
    left: 35vw;
}

.staple6 {
    justify-content: center;
    position: absolute;
    top: 32vw;
    left: 55vw;
}

.staple7 {
    position: absolute;
    left: 5vw;
    top: 13vw;
}

.staple8 {
    position: absolute;
    left: -10vw;
    top: 20vw;
}

.staple9 {
    position: absolute;
    left: 14vw;
    top: 35vw;
}

.staple10 {
    position: absolute;
    left: 66vw;
    top: 28vw;
}

.staple11 {
    position: absolute;
    left: 87vw;
    top: 36vw;
}

#stable_textbox {
    position: absolute;
    width: 15vw;
}

#stable_title {
    font-size: 1.5vw;
    text-align: center;
    position: absolute;
    top: 2.5vw;
}

#tapiocaflour_img {
    width: 10vw;
}

#tapiocaflour_text {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
}

#riceflour_img {
    width: 10vw;
}

#riceflour_text {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
}

#butpeajuice_img {
    width: 13vw;
}

#butpeajuice_text {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
}

#sugar_img {
    width: 13vw;
}

#sugar_text {
    padding: 3vw;
    font-size: 1vw;
    text-align: center;
}

#yolk_img {
    width: 9vw;
}

#yolk_text {
    padding: 1vw;
    font-size: 1vw;
    text-align: center;
}

#stable_cloud1 {
    width: 25vw;
}

#stable_cloud2 {
    width: 30vw;
}

#stable_cloud3 {
    width: 40vw;
}

.people1 {
    position: absolute;
    width: 100vw;
    left: 25vw;
    animation-name: people_updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

.people2 {
    position: absolute;
    width: 50vw;
    left: 25vw;
    animation-name: people_animate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

.people3 {
    position: absolute;
    width: 50vw;
    left: 27vw;
}

.people4 {
    position: absolute;
    text-align: center;
    top: 70vw;
}

.people0 {
    position: absolute;
    width: 70vw;
}

#img_people1 {
    position: absolute;
    width: 50vw;
    top: 14vw;
}

#img_people2 {
    position: absolute;
    width: 18vw;
    top: 29vw;
    left: 20vw;
}

#img_people3 {
    position: absolute;
    width: 10vw;
    top: 41vw;
    left: 15vw;
}

#img_people4 {
    position: absolute;
    top: 41vw;
    left: 10vw;
}

@keyframes people_updown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(3vw);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes people_animate {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(3vw);
    }
    100% {
        transform: translateX(0%);
    }
}

.story_text {
    position: relative;
    display: flex;
    align-items: center;
    left: 20vw;
}

.story_title {
    z-index: 100;
    position: absolute;
    top: 95vw;
    width: 100vw;
    justify-content: center;
    display: flex;
}

#storytitle_text {
    color: white;
    font-size: 1.25vw;
    line-height: 2vw;
    width: 20vw;
    top: 2.5vw;
    position: absolute;
    text-align: center;
}

#storytitle_img0 {
    position: absolute;
    width: 10vw;
    left: 57vw;
    animation-name: title_rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

#storytitle_img1 {
    position: absolute;
    width: 20vw;
    top: 1vw;
}

#storytitle_img2 {
    position: absolute;
    width: 3vw;
    top: 10vw;
    animation-name: arrow_updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

#storytitle_img3 {
    position: absolute;
    width: 3vw;
    top: 10vw;
    left: 30vw;
    animation-name: title_rotate2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

#storytitle_img4 {
    position: absolute;
    width: 3vw;
    top: 10vw;
    left: 30vw;
    animation-name: title_rotate3;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

@keyframes arrow_updown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(2vw);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes title_rotate {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

@keyframes title_rotate2 {
    0% {
        transform: rotateZ(0deg);
        left: 30vw;
    }
    50% {
        transform: rotateZ(360deg);
        left: 40vw;
    }
    100% {
        transform: rotateZ(0deg);
        left: 30vw;
    }
}

@keyframes title_rotate3 {
    0% {
        transform: rotateZ(0deg);
        top: 5;
        left: 70vw;
    }
    50% {
        transform: rotateZ(-360deg);
        left: 60vw;
    }
    100% {
        transform: rotateZ(0deg);
        left: 70vw;
    }
}

#game_img {
    position: absolute;
    width: 20vw;
    left: 60vw;
    top: 15vw;
}

#game_img2 {
    position: absolute;
    width: 13vw;
    left: 50vw;
    top: 20vw;
}

#game_img3 {
    position: absolute;
    width: 4vw;
    left: 60vw;
    top: 8vw;
    animation-name: star_game;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#game_img4 {
    position: absolute;
    width: 4vw;
    left: 70vw;
    top: 8vw;
    animation-name: star_game2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.bulanngame {
    position: absolute;
    animation-name: game;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes game {
    0% {
        transform: translateX(0vw);
    }
    50% {
        transform: translateX(20vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes star_game {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes star_game2 {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.5);
    }
}

#last_img1 {
    position: absolute;
    width: 80vw;
}