body {
    height: 100%;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    background-color: #a7ebe7;
    color: rgb(69, 125, 98);
    overflow-x: hidden;
}

.el_pos {
    position: absolute;
}

/** Block ที่ 1 **/

.top_container {
    width: 100vw;
    height: 470vw;
}

.block1 {
    width: 100vw;
    height: 100%;
    position: relative;
}

.t_font {
    font-size: 1.3vw;
}

.text_box0 {
    left: 28%;
    top: 288vw;
}

.text5 {
    font-size: 1.8vw;
    left: 39.5%;
    top: 294.5vw;
}

.text_box1 {
    left: 40%;
    top: 105vw;
}

.text4 {
    text-align: center;
    font-size: 1.8vw;
    left: 45.5%;
    top: 106.5vw;
}

.text_box2 {
    left: 53%;
    top: 65vw;
}

.text3 {
    left: 55%;
    top: 66.8vw;
}

.text_box3 {
    left: 31.5%;
    top: 36vw;
}

.text2 {
    left: 33.5%;
    top: 37vw;
}

.text_box4 {
    left: 24%;
    top: 25vw;
}

.text1 {
    left: 26%;
    top: 26vw;
}

.text_box5 {
    left: 28%;
    top: 15vw;
}

.text0 {
    left: 30%;
    top: 16vw;
}

.prop0 {
    left: -12%;
    top: 28vw;
}

.prop1 {
    left: -5%;
    top: 75vw;
}

.prop2 {
    left: 48%;
    top: 30vw;
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.prop3 {
    left: 21%;
    top: 63vw;
}

.prop4 {
    left: 19%;
    top: 95vw;
}

.prop5 {
    left: 12.5%;
    top: 133vw;
}

.fourcup {
    animation: show1 15s infinite;
}

.prapai {
    animation: show2 15s infinite;
}

.brownpot {
   animation: show3 15s infinite;
}

.bulan {
    animation: show4 15s infinite;
}

.purplebranch {
    animation: show5 15s infinite;
}

.prop6 {
    left: 16%;
    top: 195.5vw;
}

.text6 {
    text-align: center;
    font-size: 1.3vw;
    color: white;
    left: 32%;
    top: 210vw;
}

.prop7 {
    left: -5%;
    top: 242vw;
}

.prop8 {
    left: -11%;
    bottom: 0vw;
}

.text7 {
    text-align: center;
    font-size: 1.8vw;
    left: 34.5%;
    bottom: 48vw;
}

.prop9 {
    left: 30vw;
    bottom: 30vw;
    transform: rotateZ(-45deg);
}

.prop10 {
    left: 38vw;
    bottom: 1.5vw;
}

.prop10:hover {
    cursor: pointer;
}

@keyframes fly {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(12.5%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes show1 {
    0% {
        transform: scale(0);
    }

    12.5% {
        transform: scale(1);
    }

    25% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show2 {
    0% {
        transform: scale(0);
    }

    18.75% {
        transform: scale(0);
    }

    31.25% {
        transform: scale(1);
    }

    43.75% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show3 {
    0% {
        transform: scale(0);
    }

    37.5% {
        transform: scale(0);
    }

    50% {
        transform: scale(1);
    }

    62.5% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show4 {
    0% {
        transform: scale(0);
    }

    56.25% {
        transform: scale(0);
    }

    68.75% {
        transform: scale(1);
    }

    81.25% {
        transform: scale(0);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes show5 {
    0% {
        transform: scale(0);
    }

    75% {
        transform: scale(0);
    }

    87.5% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(0);
    }
}
.timeline {
    width: 100vw;
    height: 100vw;
    background-color: #dcefe8;
    position: absolute;
    bottom: 60vw;
}
.five_years_text{
    font-size: 5vw;
    position: absolute;
    left: 40vw;
    top: 42.5vw;

}


/** Footer **/
.footer_style {
    color: rgb(69, 125, 98);
    background-color: rgb(148, 234, 234);
    bottom: 0vw;
    height: 7.5vw;
    width: 100vw;
    position: relative;
}

.footer_tbox {
    position: absolute;
    top: 2vw;
    left: 18vw;
    font-size: 1vw;
}

.logo_footer {
    width: 5vw;
    position: absolute;
}


.ppb_pos {
    top: 122.5vw;
    left: 12.5%;
}

.prop11 {
    right: 5vw;
    top: 155vw;
}


.text_fourcup {
    right: 12.5vw;
    top: 165vw;
    font-size: 3vw;
    text-align: center;
}

.text_prapai {
    right: 12.5vw;
    top: 165vw;
    font-size: 3vw;
    text-align: center;
}

.text_brownpot {
    right: 11vw;
    top: 165vw;
    font-size: 3vw;
    text-align: center;
}

.text_bulan {
    right: 11.25vw;
    top: 165vw;
    font-size: 3vw;
    text-align: center;
}

.text_purplebranch {
    right: 11vw;
    top: 165vw;
    font-size: 3vw;
    text-align: center;
}
/** CSS Menubar**/
#menubar  {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top : 0vw;
    right: 0;
    background-color: #f3f3e5;
    opacity: 0.8;
    z-index: 200;
    transform: translateX(20vw);
}
.text_menu{
      color: #548a71;
      position: absolute;
      font-size: 1.5vw;
}
.text_menu:hover{
    animation: font_up 0.2s linear;
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}
.menu1{
    top : 10vh;
    left:7.5vw;
}
.menu2{
    top : 20vh;
    left:7.5vw;
}
.menu3{
    top : 30vh;
    left:7.5vw;
}
.menu4{
    top : 40vh;
    left:5.5vw;
}
.menu5{
    top : 50vh;
    left:7.5vw;
}
@keyframes font_up{
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}
@keyframes menu_slide{
    0% {transform: translateX(20vw);}
    100% {transform: translateX(0vw);}
}
@keyframes menu_back{
    0% {transform: translateX(0vw);}
    100% {transform: translateX(20vw);}
}
.back_arrow{
    position: absolute;
    top: 2.5vw;
    left: 1.5vw;
    width: 2vw;
}
.back_arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: font_up .2s ease-in-out; 
}