body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Kodchasan', sans-serif;
    overflow-y: auto;
}
.menu{
    position: fixed;
    right: 1vw;
    top: 2vw;
    width: 3vw;
    z-index: 200;
}
.menu:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease-in-out; 
}
.top_container {
    width: 100vw;
    height: 100%;
    background-color: #b7d9db;
    
}
.middle_container {
    background-color: #f3f3e5; 
    width: 100vw; 
    text-align: center; 
    height: 250vw;
    z-index: 1;
}
.bottom_container{
    background-color: white; 
    width: 100vw; 
    height: 100vw;
    position: relative;
    z-index: 4;

}
.box1 {
    width: 100vw;
    height: 100%;
    color: #548a71;
    position: relative;
    z-index: 3;
}
.open_text {
    top: 7vw;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}
.scroll_down{
    top: 13.25vw;
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    visibility: hidden;
}
.logo {
    position: absolute;
    width: 8vw;
    top: 5%;
    left: 4vw;
}
.shelf{
    text-align: center;
}
.tong{
    position: fixed;
    z-index: 3;
    top : 28.5vw;
    left: 46.8vw;
}
.speed {
    width:2%; 
    top:16vw; 
    left:49.5vw;
    position: fixed;
    z-index: 2;
}

.tong:hover {
    cursor: pointer;
}
.start_btn:hover{
    cursor: pointer;
    animation-name: larger;
    animation-duration: 1s;
    transition-timing-function: ease-in-out;

}
@keyframes largr {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.25);}
}
.text_box {
    position: absolute;
}

h1 {
    font-size: 1.35vw;
}

.show {
    animation-fill-mode: forwards;
    animation-name: show_text;
    animation-duration: 6s;
    opacity: 0;
}

#text1 {
    animation-delay: 1s;
}

#text2 {
    animation-delay: 6s;
}

#text3 {
    animation-delay: 11s;
}

#text4 {
    animation-delay: 16s;
}

#text5 {
    animation-delay: 20s;
}

#text6 {
    animation-delay: 23s;
    animation-duration: 4s;
}

@keyframes pop_text {
    0% {transform: scale(0);}
    70% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes pop_down_text {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes pop_text1 {
    0% {transform: scale(0) rotateZ(5deg);}
    70% {transform: scale(1.1) rotateZ(5deg);}
    100% {transform: scale(1) rotateZ(5deg);}
}
@keyframes pop_down_text1 {
    0% {transform: scale(1) rotateZ(5deg);}
    100% {transform: scale(0) rotateZ(5deg);}
}
@keyframes pop_text2 {
    0% {transform: scale(0) rotateZ(-20deg);}
    70% {transform: scale(1.1) rotateZ(-20deg);}
    100% {transform: scale(1) rotateZ(-20deg);}
}
@keyframes pop_down_text2 {
    0% {transform: scale(1) rotateZ(-20deg);}
    100% {transform: scale(0) rotateZ(-20deg);}
}
@keyframes pop_text3 {
    0% {transform: scale(0);}
    70% {transform: scale(1.1);}
    100% {transform: scale(1);}
}
@keyframes pop_down_text3 {
    0% {transform: scale(1);}
    100% {transform: scale(0);}
}
@keyframes pop_text4 {
    0% {transform: scale(0) rotateZ(2deg);}
    70% {transform: scale(1.1) rotateZ(2deg);}
    100% {transform: scale(1) rotateZ(2deg);}
}
@keyframes pop_down_text4 {
    0% {transform: scale(1) rotateZ(2deg);}
    100% {transform: scale(0) rotateZ(2deg);}
}
@keyframes pop_text5 {
    0% {transform: scale(0) rotateZ(10deg);}
    70% {transform: scale(1.1) rotateZ(10deg);}
    100% {transform: scale(1) rotateZ(10deg);}
}
@keyframes pop_down_text5 {
    0% {transform: scale(1) rotateZ(10deg);}
    100% {transform: scale(0) rotateZ(10deg);}
}
@keyframes pop_text6 {
    0% {transform: scale(0) rotateZ(-20deg);}
    70% {transform: scale(1.1) rotateZ(-20deg);}
    100% {transform: scale(1) rotateZ(-20deg);}
}
@keyframes pop_down_text6 {
    0% {transform: scale(1) rotateZ(-20deg);}
    100% {transform: scale(0) rotateZ(-20deg);}
}
@keyframes pop_text_bot1 {
    0% {transform: scale(0) rotateZ(-8deg);}
    70% {transform: scale(1.1) rotateZ(-8deg);}
    100% {transform: scale(1) rotateZ(-8deg);}
}
@keyframes pop_down_text_bot1 {
    0% {transform: scale(1) rotateZ(-8deg);}
    100% {transform: scale(0) rotateZ(-8deg);}
}
@keyframes pop_text_bot2 {
    0% {transform: scale(0) rotateZ(-4deg);}
    70% {transform: scale(1.1) rotateZ(-4deg);}
    100% {transform: scale(1) rotateZ(-4deg);}
}
@keyframes pop_down_text_bot2 {
    0% {transform: scale(1) rotateZ(-4deg);}
    100% {transform: scale(0) rotateZ(-4deg);}
}
.chat_1 {
    animation: pop_text 1s 1;

}
.chat_2 {
    animation: ;
    visibility: hidden;
    }
.chat_3 {
    animation: ;
    visibility: hidden;
}
.chat_4 {
    animation: ;
    visibility: hidden;
}
.chat_5 {
    animation: ;
    visibility: hidden;
}
.chat_6 {
    animation: ;
    visibility: hidden;
}
.chat_text_1 {
    animation: pop_text1 1s 1;
}
.chat_text_2 {
    animation: ;
    visibility: hidden;

}
.chat_text_3 {
    animation: ;
    visibility: hidden;
}
.chat_text_4 {
    animation: ;
    visibility: hidden;
}
.chat_text_5 {
    animation: ;
    visibility: hidden;
}
.chat_text_6 {
    animation: ;
    visibility: hidden;
}
.next {
    width: 2.5vw;
    position: absolute;
    top: 13.5vw;
    left: 60%;
    opacity: 0;
    animation-name: show_scroll;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.back {
    width: 2.5vw;
    position: absolute;
    top: 13.5vw;
    left: 37.5%;
    opacity: 0;
    animation-name: show_scroll2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.next:hover{
    cursor: pointer;
}
.back:hover{
    cursor: pointer;
}
.chat_bottom_1{
    position: absolute;
    top:35.25vw; 
    left:38vw;
    width: 25%;

}
.chat_bottom_text_1{
    position: absolute; 
    top: 36.5vw; 
    left: 42%; text-align: center; 
    transform: rotateZ(-8deg); 
    font-size: 1.35vw;
}
.chat_bottom_2{
    position: absolute;
    top:37vw; 
    left:38.5vw;
    width: 25%;
    visibility: hidden;

}
.chat_bottom_text_2{
    position: absolute; 
    top: 37.5vw; 
    left: 42%; text-align: center; 
    transform: rotateZ(-4deg); 
    font-size: 1.3vw;
    visibility: hidden;

}
.chat_bottom_3{
    position: absolute;
    top:37vw; 
    left:38.5vw;
    width: 25%;
    visibility: hidden;

}
.chat_bottom_text_3{
    position: absolute; 
    top: 38vw; 
    left: 42.5%; text-align: center; 
    transform: rotateZ(-4deg); 
    font-size: 1.3vw;
    visibility: hidden;

}
.chat_bottom_4{
    position: absolute;
    top:35.25vw; 
    left:38vw;
    width: 25%;
    visibility: hidden;
}
.chat_bottom_text_4{
    position: absolute; 
    top: 36.5vw; 
    left: 42%; text-align: center; 
    transform: rotateZ(-8deg); 
    font-size: 1.35vw;
    visibility: hidden;
}
.next_bot {
    width: 2.5vw;
    position: absolute;
    top: 40vw;
    left: 64%;
    opacity: 0;
    animation-name: show_scroll;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.back_bot {
    width: 2.5vw;
    position: absolute;
    top: 40vw;
    left: 35%;
    opacity: 0;
    animation-name: show_scroll2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.next_bot:hover{
    cursor: pointer;
}
.back_bot:hover{
    cursor: pointer;
}
@keyframes show_scroll {
    0% {opacity: 0; transform: translateY(0%);}
    100% {opacity: 1; transform: translateY(10%);}
}
@keyframes show_scroll2 {
    0% {opacity: 0; transform: translateY(0%) rotateY(180deg);}
    100% {opacity: 1; transform: translateY(10%)rotateY(180deg); }
}
@keyframes fly {
    0% {transform: translateY(0%);}
    50% {transform: translateY(12.5%);}
    100% {transform: translateY(0%);}
}
@keyframes dukdik {
    0% {transform: rotateZ(0deg);}
    25% {transform: rotateZ(5deg);}
    50% {transform: rotateZ(10deg);}
    75% {transform: rotateZ(5deg);}
    100% {transform: rotateZ(0deg);}
}
@keyframes roll {
    0% {transform: translateX(0) translateY(0) rotateZ(0deg);}
    100% {transform:translateX(2vw) translateY(15vw)rotateZ(720deg);}
}
@keyframes rolldown {
    0% {transform: translateX(0) translateY(0)}
    100% {transform:translateX(-2vw) translateY(15vw)}
}
.scroll:hover {
    cursor: pointer;
}
.star{
    animation-name: fly;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;    
}
.star2{
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}
.logo_big{
    animation-name: dukdik;
    animation-duration: 5s;
    animation-iteration-count: infinite;    
}
.box2{
    position: relative;
    background-image: url("https://cdn.discordapp.com/attachments/1031106164836020260/1031122400886136882/Line_Bg_Repeat_pattern.png");
    width: 100%;
    background-position: center;
    background-repeat: repeat-y;
    background-size: 70%;
    height: 100%;
    color: #548a71;
    z-index: 1;
}

.box3{
    width: 100vw;
    height: 100%;
    color: #ffffff;
    position: relative;
}
.phase1{
    width: 100%;
    height: 100vh;
    position: relative;
}
.phase2{
    width: 100%;
    height: 100vh;
    position: relative;
}

/** Footer **/
    .footer_style {
    color: rgb(69, 125, 98);
    background-color: rgb(148, 234, 234);
    height: 7.5vw;
    width: 100vw;
    position: relative;
    z-index: 500;
}

.footer_tbox {
    position: absolute;
    top: 2vw;
    left: 18vw;
    font-size: 1vw;
}

.logo_footer {
    width: 5vw;
    position: absolute;
}
.angel{
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite; 
}
.tong_bot{
    animation : fly 5s infinite;
}
.mirror_long{
    width:80%; top:92.5vw;left:10%;
    position: absolute;
    animation-name: fly;
    animation-duration: 20s;
    animation-iteration-count: infinite; 
}
.mirror_left{
    animation-name: fly;
    animation-duration: 7s;
    animation-iteration-count: infinite; 
}
.mirror_right{
    animation-name: fly;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-delay: 1s; 
}
.mirror_star{
    animation-name: fly;
    animation-duration: 7s;
    animation-iteration-count: infinite; 
}
.mirror_back{
    animation-name: fly;
    animation-duration: 15s;
    animation-iteration-count: infinite; 
}
/** CSS Menubar**/
#menubar  {
    position: fixed;
    width: 20vw;
    height: 100vh;
    top : 0vw;
    right: 0;
    background-color: #f3f3e5;
    opacity: 0.8;
    z-index: 200;
    transform: translateX(20vw);
}
.text_menu{
      color: #548a71;
      position: absolute;
      font-size: 1.5vw;
}
.text_menu:hover{
    animation: font_up 0.2s linear;
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}
.menu1{
    top : 10vh;
    left:7.5vw;
}
.menu2{
    top : 20vh;
    left:7.5vw;
}
.menu3{
    top : 30vh;
    left:7.5vw;
}
.menu4{
    top : 40vh;
    left:5.5vw;
}
.menu5{
    top : 50vh;
    left:7.5vw;
}
@keyframes font_up{
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}
@keyframes menu_slide{
    0% {transform: translateX(20vw);}
    100% {transform: translateX(0vw);}
}
@keyframes menu_back{
    0% {transform: translateX(0vw);}
    100% {transform: translateX(20vw);}
}
.back_arrow{
    position: absolute;
    top: 2.5vw;
    left: 1.5vw;
    width: 2vw;
}
.back_arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: font_up .2s ease-in-out; 
}
@media only screen and (max-width: 430px) {
  .desktop_ver {display: none;}
}