    

/** พรพาย **/
.mob_menu {
    position: fixed;
    right: 1vw;
    top: 2vw;
    width: 10vw;
    z-index: 100;
}
.mob_menu:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

.mob_boat_wrap{
    position: absolute; 
    left: 30vw; 
    top: 41vw;
}
.babin_cover{
    position: absolute; 
    left: 78.5vw; 
    top:20vw;
}
.mob_top_container {
    width: 100vw;
    height: 350vw;
    position: relative;
    top: 1.2vw;
}
.mob_top_title {
    width: 100vw;
    height: 161vw;
    color: #447e66;
}
.mob_bg_prapai {
    background-color: #fff2a4;
    width: 100%;
    background-position: center;
    background-size: 100%;
    height: 200vw;
    text-align: center;
    position: relative;

}
.mob_point_bg_yellow {
    position: absolute;
    height: 110vw;
}
.mob_text {
    position: absolute;
    width: 100%;
    text-align: center;
}
.mob_ingredient_container{
    width: 100vw; 
    height: 300vw;
    position: relative;
    text-align: center;
    z-index: 1;
}
.mob_chat{
    height: 300vw;
    position: relative;
    text-align: center;
    color: #447e66;
    overflow-x: hidden;
}

.mob_ingr_text{
    color: #488167; 
    font-size: 3vw;
}
.mob_grid-container {
    display: inline-grid;
    grid-template-columns: 20vw;
    top: 20vw;
    position: relative;
  }

.textp_pos{
    position: absolute;
    color: #468066;
    font-size: 1.25vw;
}
.mob_bottom_prapai{
    position: relative;
    
}
.mob_info{
    position: absolute; 
    text-align: left; 
}
.mfont_prapai{
    font-size: 4.25vw;
    color: #468066;
}
.mob_cage{
    background-color: white;
    position: relative;
    z-index: 0;
    top: 200vw;
}
.bottom_prapai_info{
    top: 75vw;
    left: 15vw;
} 

/** ID **/
#mob_chat_h1{
    height: 350vw;
}
#mob_chat_h2{
    height: 350vw;
}
#mob_chat_h3{
    height: 200vw;
}
#prapai_head{
    font-size: 7vw;
    color: #7294c2;
}
#textb1{
    width:68%; 
    position: absolute; 
    top:45vw; 
    left: 20vw;
}
#textb2{
    width:50%; 
    position: absolute; 
    top:115vw; 
    left: 12vw;
}
#textb3{
    width:50%; 
    position: absolute; 
    top:155vw; 
    left: 12vw;
}
#textb4{
    width:38%; 
    position: absolute; 
    top:135vw; left: 45vw;
}
#textb5{
    width:60%;
    position: absolute; 
    top:23vw; 
    left: 20vw;
}
#textb6{
    width:60%;
    position: absolute; 
    top:100vw; 
    left: 27vw;
}
#textb7{
    width:60%;
    position: absolute; 
    top:130vw; 
    left: 25vw;
}
#textb8{
    width:60%; 
    position: absolute; 
    top: 15vw; 
    left: 20vw;
}
#textb9{
    width:60%; 
    position: absolute; 
    top: 100vw; 
    left: 21vw;
}
#textp1{
   font-size: 4vw; 
   position: absolute; 
   top: 52vw; 
   left: 30vw; 
   transform: rotateZ(-4deg);
}
#textp2{
    font-size: 3vw; 
    position: absolute;
    top: 117vw; 
    left: 14vw; 
    transform: rotateZ(-4deg);
}
#textp3{
    font-size: 3vw; 
    position: absolute; 
    top: 160vw; 
    left: 15vw; 
    transform: rotateZ(-4deg);
}
#textp4{
    font-size: 3vw; 
    position: absolute; 
    top: 137vw; 
    left:60vw; 
    transform: rotateZ(-4deg);
}
#textp5{
    font-size: 3vw; 
    position: absolute; 
    top: 30vw; 
    left: 30vw; 
    transform: rotateZ(-4deg);
}
#textp6{
    font-size: 3vw; 
    position: absolute; 
    top: 105vw; 
    left: 37vw; 
    transform: rotateZ(-3deg);
}
#textp7{
    font-size: 3vw;
    position: absolute; 
    top: 137vw; 
    left: 37vw; 
    transform: rotateZ(-3deg);
}
#textp8{
    font-size: 3vw; 
    position: absolute; 
    top: 22vw; 
    left: 35vw; 
    transform: rotateZ(-3deg);
}
#textp9{
    font-size: 3vw; 
    position: absolute; 
    top: 105vw; 
    left: 30vw; 
    transform: rotateZ(-3deg);
}
.circle{
    width:27.5%; 
    position: absolute; 
    top: -20vw;
    width:27.5%; 
}
#circlel{
    left: 2vw;
}
#circler{
    left: 71vw; 
}
#py1{
    left: 12vw;
}
#py2{
    left: 77vw;
}
#py3{
    left: 12vw; 
    top: 110vw;
}
#py4{
    left: 77vw; 
    top: 110vw;
}
/** ตำแหน่ง พระพาย ช่วงด้านบน **/
.bg_head_pp{
    left: -1%;
}
.title_pp{
    position: absolute; top:28vw; left:8vw;
}
.boat_pp{
    position: absolute;left: 30vw; top: 41vw;
}
.babintop_p{
    position: absolute;
    top: 4vw;
    left: 56vw;
}
.phead_prapai{
    color: #6c90c4; font-size: 5vw; top: 5vw;
}
.bgp1{
    width:80%; 
    position: absolute; 
    top: 20vw; 
    left: 10vw;
}
.ptop{
    width:10%; 
    position: absolute; 
    top: 28vw; 
    left: 35vw;
}
.pmed{
    position: absolute; top: 24vw; left: 59vw; 
}
.pbot{
    position: absolute; top: 35vw; left: 50vw;
}
.pback{
    position: absolute; top: 25vw; left: 50vw;
}
.gadong{
    position: absolute; top: 42vw; left: 25vw;
}
.sfxp{
    position: absolute; top: 32vw; left: 25vw;
}
.starp{
    position: absolute; top: 26vw; left: 28vw;
}
.p_origin{
    color: #488167; 
    font-size: 3vw; 
    top: 70vw;
}
.prapai_use{
    color: #488167; 
    font-size: 3vw; 
    top: 145vw;
}
.mun{
    width:45%; 
    position: absolute; 
    top: 95vw; 
    left: 28vw;
}
.baitong_normal1{
    width:96%; 
    position: absolute; 
    left: 2vw; 
    top: 80vw;
}
.prapai_belive{
    width:96%; 
    position: absolute; 
    left: 2vw; 
    top: -4vw;
}
.belive{
    width:50%; 
    position: absolute; 
    left: 25vw; 
    top: 47vw;
}
.married{
    color: #488167; 
    font-size: 3.5vw; 
    top: 78vw;
}

/** ตำแหน่ง วัตถุดิบ **/
.watudip{
    color: #488167; 
    font-size: 5vw; 
    top: 130vw;
}
.tstickpang{
    top: 130vw;
}
.stickpang{
    width:20%; 
    padding-top: 15vw; 
    padding-bottom: 2vw;
}
.tjaopang{
    top: 180vw;
}
.jaopang{
    width:20%;  
    padding-top: 12w; 
    padding-bottom: 2vw;
}
.tbaitaey{
    top: 200vw;
}
.baitaey{
    width:20%;
    padding-top: 12%; 
    padding-bottom: 2vw;
}
.tpeanut{
    top: 230vw;
}
.peanut{
    width:20%; 
    padding-top: 12%; 
    padding-bottom: 2vw;
}
.tgati{
    top: 260vw;
}
.gati{
    width:20%; 
    padding-top: 12%; 
    padding-bottom: 2vw;
}
.tsugar{
    top: 290vw;
}
.sugar{
    width:20%;
    padding-top: 12%; 
    padding-bottom: 2vw;
}
/** ตำแหน่ง พระพาย ซึม **/
.bg_psum{
    width:200%; 
    position: absolute; 
    top: 80vw; 
    right: 22.5vw;
}
.tongyod2{
    width:35%; 
    position: absolute; 
    top: 58vw; 
    left: 10vw;
}
.babin2-3{
    width:90%;
    position: absolute;
    top: 165vw;
    left: 5vw;
}
.baitong_sum{
    width:100%; 
    position: absolute; 
    top: 300vw; 
    left: 0vw;
}
.prapai_sum{
    width:70%;
    position: absolute;
    top: 250vw; 
    left: 20vw;
}
/** ตำแหน่ง พรพาย ปกติ **/
.bg_normalp{
    width:200%; 
    position: absolute; 
    top: 70vw; 
    left: -45vw;
}
.tongyod1{
    width:35%;
    position: absolute;
    top: 80vw;
    left: 10vw;
}
.babin1_1{
    width:70%; 
    position: absolute;
    top: 175vw;
    left: 10vw;
}
.baitong_normal{
    width:100%; 
    position: absolute;
    top: 310vw;
    left: 0vw;
}
.prapai_normal{
    width:70%; 
    position: absolute; 
    top: 260vw; 
    left: 20vw;
}
/** ตำแหน่ง พระพาย หิน **/
.bg_phin{
    width:200%; 
    position: absolute; 
    top: 0vw; 
    left: -45vw;
}
.tongyod3{
    width:35%;
    position: absolute; 
    top: 50vw; 
    left: 10vw;
}
.babin2{
    width:90%; 
    position: absolute; 
    top: 130vw; 
    left: 5vw;
}

/** ตำแหน่งข้างล่าง ใกล้กับ กรง**/
.bg_blue{
    width: 100%;
    position: absolute; 
    top: 40vw;
}
.baitong_hin{
    width:100%; 
    position: absolute; 
    top: 250vw; 
    left: 0vw;
}
.cage_pos{
    top: 315vw;
    left: 0vw;
    width: 100%;
    position: absolute;
}
.cage_pos1{
    top: 365vw;
    left: 70vw;
    width: 22.5%;
    position: absolute;
}
.cage_pos2{
    top: 353vw;
    left: 8vw;
    width: 22.5%;
    position: absolute;
}
.cage_pos3{
    top: 335vw;
    left: 42vw;
    width: 15%;
    position: absolute;
    animation: prapai_low 2.75s infinite linear;
}
.cage_pos4{
    top: 325vw;
    left: 63vw;
    width: 18%;
    position: absolute;
    animation: prapai_low 2.75s infinite linear;
}
.cage_pos5{
    top: 325vw;
    left: 17vw;
    width: 20%;
    position: absolute;
    animation: prapai_low s infinite linear;
}
.whiteb_pos{
    top: 270vw;
    z-index: -1;
    left: 0vw;
    width: 100%;
    position: absolute;
}
.prapai_hin{
    width:50%; 
    position: absolute; 
    top: 220vw; 
    left: 25vw;
}
/** animation พระพาย **/
.boat_cover{
    position: absolute; left: 40vw; top: 40vw;
    animation-name: boat_xaxis;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.boat_wrap{
    animation-name: boat_yaxis;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}
.babin_cover{
    position: absolute; left: 56vw; top:8vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.prapai_intro{
    animation-name: dukdik;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.kradong{
    animation-name: kradong_slide;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
.water_head{
    position: absolute;
    top : 53vw;
    left: 0;
    width: 100vw;
}
.char_ingre{
    animation-name: flydown;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/** keyframe พรพาย **/
@keyframes boat_xaxis {
    50% {transform: translateX(-30vw);}
}
@keyframes boat_yaxis {
    0% {transform: translateY(0vw);}
    50% {transform: translateY(1vw);}
    100% {transform: translateY(0vw);}
}
@keyframes fly {
    50% {transform: translateY(-5vw);}
}
@keyframes dukdik {
    50% {transform: rotateZ(5deg);}
}
@keyframes kradong_slide {
    50% {transform: translateX(-4vw) translateY(-2vw);}
}
@keyframes flydown{
    50% {transform: translateY(3vw);}
}
@keyframes prapai_low{
    50% {transform: translateY(2vw);}
}
body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Kodchasan', sans-serif;
    background-color: #f3f3e5;
}


