body {
    height: 100%;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    background-color: #f3f3e5;
}

.el_pos {
    position: absolute;
}

/** Mobile Style **/

.mob_cm_chormuang {
    color: #578b72;
    background-color: #f3f3e5;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 360px;
    max-width: 430px;
    overflow-x: hidden;
    overflow-y: auto;
}

.mb_text {
    font-size: 7vw;
}

.mb_text1 {
    font-size: 5vw;
}

.mb_text2 {
    font-size: 4.5vw;
}

.mb_text3 {
    font-size: 4.5vw;
    color: black;
}

.mob_menu {
    position: fixed;
    right: 1vw;
    top: 2vw;
    width: 6vw;
    z-index: 100;
}

.mob_cm_block1 {
    position: relative;
    width: 100%;
    height: 720vw;
}

.mb_topic_text {
    color: #6c90c4;
    top: 12vw;
    left: 32vw;
}

.mb_el1 {
    width: 100vw;
    top: 45vw;
}

.mb_el2 {
    width: 60vw;
    left: 20vw;
    top: 57vw;
    animation: petal_dance 1s infinite linear;
}

.mb_el3 {
    width: 74vw;
    left: 14vw;
    top: 67vw;
    animation: dukdik1 1s infinite linear;
}

.mb_el4 {
    width: 34vw;
    left: 33vw;
    top: 63vw;
}

.mb_el5 {
    width: 2.5vw;
    left: 51vw;
    top: 77vw;
    animation: mouth 1s infinite linear;
}

.mb_el6 {
    width: 76vw;
    left: 12vw;
    top: 40vw;
    animation: paper_fly1 1s infinite linear;
}

.mb_L1 {
    text-align: center;
    left: 12vw;
    top: 110vw;
}

.mb_el7 {
    width: 56vw;
    left: 22vw;
    top: 170vw;
    animation: cho_spin 10s infinite linear;
}

.mb_L2 {
    color: #a781e5;
    text-align: center;
    left: 15vw;
    top: 240vw;
}

.mb_L3 {
    color: #a781e5;
    text-align: center;
    left: 19vw;
    top: 280vw;
}

.mb_el11 {
    width: 60vw;
    left: 20vw;
    top: 340vw;
}

.mb_L4 {
    text-align: center;
    left: 11vw;
    top: 440vw;
}

.mb_L5 {
    text-align: center;
    left: 12vw;
    top: 520vw;
}


.mb_L6 {
    left: 38vw;
    top: 675vw;
}

/**block 2**/

.mob_cm_block2 {
    position: relative;
    width: 100%;
    height: 550vw;
    background-image: url("../img/chormuang/mobile/png/Bg_น้ำ-MB.png");
    background-size: cover;
}

.mb_el15_wrap {
    animation-name: boat_yaxis;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: ease-in-out;
}

.mb_el15 {
    width: 60vw;
    left: -5vw;
    top: -5vw;
    animation-name: mb_boat_xaxis;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes mb_boat_xaxis {
    50% {
        transform: translateX(50vw);
    }
}

@keyframes mb_boat_yaxis {
    0% {
        transform: translateY(-2.6vw);
    }

    50% {
        transform: translateY(-5.2vw);
    }

    100% {
        transform: translateY(-2.6vw);
    }
}

.mb_el17 {
    width: 74vw;
    left: 12vw;
    top: 20vw;
}

.mb_el18 {
    width: 80vw;
    left: 10vw;
    top: 280vw;
}

.mob_stopper {
    width: 100vw;
    height: 10%;
    position: relative;
    top: 350vw;
    background-image: url("../img/chormuang/pc/png/Pattern_ช่อม่วง-PC.png");
    background-size: 30%;
    background-repeat: repeat-x;
    background-position: 0 0;
    animation: flower_slide 10s linear infinite;
}

@keyframes flower_slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 42.75% 0;
    }
}

.mb_L7 {
    left: 24vw;
    top: 370vw;
}

.mb_L8 {
    text-align: center;
    left: 16vw;
    top: 460vw;
}

.mb_L9 {
    top: 48vw;
    left: 23vw;
}

.mb_L10 {
    top: 48vw;
    left: 60vw;
}

.mb_L11 {
    top: 95vw;
    left: 23vw;
}

.mb_L12 {
    top: 95vw;
    left: 54vw;
}


.mb_L13 {
    top: 145vw;
    left: 18vw;
}

.mb_L14 {
    top: 145vw;
    left: 60vw;
}

.mb_L15 {
    top: 195vw;
    left: 18vw;
}

.mb_L16 {
    top: 195vw;
    left: 60vw;
}


.mb_L17 {
    top: 245vw;
    left: 25vw;
}

.mb_L18 {
    top: 245vw;
    left: 55vw;
}

.mb_L19 {
    top: 310vw;
    left: 15vw;
}

.mb_L20 {
    top: 310vw;
    left: 40vw;
}

.mb_L21 {
    top: 310vw;
    left: 55vw;
}

/**block 3**/

.mob_cm_block3 {
    position: relative;
    background-color: transparent;
    width: 100%;
    height: 500vw;
}

.mb_el20 {
    width: 200vw;
    left: -45vw;
    top: -12vw;
}

.mb_el21 {
    width: 30vw;
    left: 12vw;
    top: 38vw;
}

.mb_el22 {
    width: 70vw;
    left: 20vw;
    top: 85vw;
}

.mb_el23 {
    width: 105vw;
    bottom: 0vw;
}

.mb_L22 {
    color: #8890c7;
    left: 12vw;
    top: 200vw;
}

.mb_L23 {
    left: 12vw;
    top: 230vw;
}

.mb_L24 {
    left: 12vw;
    top: 280vw;
}




/** Door **/

.mb_bottom_container {
    background-color: transparent;
    width: 100vw;
    text-align: center;
    height: 32.5vw;
    position: absolute;
    bottom: 28vw;
}

.mb_door_mirror {
    position: relative;
    width: 100%;
    height: 100%;
    color: #488167;

}

.mb_mirrorbreak_door {
    width: 200%;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 3;

}

.mb_mirrorback_door {
    width: 100%;
    position: absolute;
    top: 15vw;
    left: 0vw;
    z-index: 3;
    animation-name: mirrorback_fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

.mb_title_door {
    font-size: 4.5vw;
    position: absolute;
    top: 25vw;
    left: 26vw;
    text-align: left;
    z-index: 3;
    color: #7194c5;
}

.mb_door1 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 17vw;
    z-index: 3;

}

.mb_door2 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 31vw;
    z-index: 3;

}

.mb_door3 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 45vw;
    z-index: 3;

}

.mb_door4 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 59vw;
    z-index: 3;

}

.mb_door5 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 73vw;
    z-index: 3;

}

@keyframes mirrorback_fly {
    50% {
        transform: translateY(2vw);
    }
}

.mb_typewriter h4 {
    position: absolute;
    bottom: 122vw;
    left: 75vw;
    font-size: 4vw;
    color: white;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 2s steps(30, end) infinite,
        blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 25vw
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange
    }
}

.mb_table_new {
    width: 80vw;
    left: 10vw;
    top: 74%;
}

.mb_blue_cho {
    width: 22%;
    left: 18%;
    top: 72.5%;
    animation: jump1 3s infinite ease-in-out;
}

.mb_bird1 {
    width: 22%;
    left: 41%;
    top: 72%;
    animation: jump2 3s infinite ease-in-out;
}

.mb_bird2 {
    width: 22%;
    left: 62%;
    top: 71.5%;
    animation: jump3 3s infinite ease-in-out;
}





.mb_book {
    width: 40%;
    left: 30%;
    top: 87%;
}

.mb_pig {
    width: 25%;
    left: 37.5%;
    top: 85%;
    animation: pig_pop 1s infinite linear;
}

.mb_duck {
    width: 13%;
    left: 22%;
    top: 83%;
    animation: dukdik2 1s infinite linear;
}

.mb_goat {
    width: 14%;
    right: 22%;
    top: 83%;
    animation: dukdik1 1s infinite linear;
}

.mb_chick {
    width: 11%;
    right: 8%;
    top: 80%;
    animation: dukdik1 1s infinite linear;
}

.mb_fish {
    width: 13%;
    left: 11%;
    top: 81%;
    animation: dukdik2 1s infinite linear;
}

.mb_paksheg {
    width: 90%;
    left: 5%;
    top: 83%;
    animation: paper_fly1 2s infinite linear;
}

.mb_paperg {
    width: 90%;
    left: 5%;
    top: 81%;
    animation: paper_fly1 1s infinite linear;
}




.mb_paper1_1_wrap {
    animation: mb_paper_fallX 2s infinite ease-in-out;
}

.mb_paper1_1 {
    left: 0%;
    top: -20vw;
    animation: mb_paper_fallY 20s infinite linear;

}

.mb_paper1_1_cop {
    left: 0%;
    top: -20vw;
    animation: mb_paper_fallY 20s 10s infinite linear;

}

.mb_paper2_1_wrap {
    animation: mb_paper_fallX 2s 1s infinite ease-in-out;
}

.mb_paper2_1 {
    left: 15%;
    top: -20vw;
    animation: mb_paper_fallY 20s 10s infinite linear;

}

.mb_paper2_1_cop {
    left: 15%;
    top: -20vw;
    animation: mb_paper_fallY 20s 20s infinite linear;

}

.mb_paper1_2_wrap {
    animation: mb_paper_fallX 2s 2s infinite ease-in-out;
}

.mb_paper1_2 {
    left: 30%;
    top: -20vw;
    animation: mb_paper_fallY 20s 6s infinite linear;

}

.mb_paper1_2_cop {
    left: 30%;
    top: -20vw;
    animation: mb_paper_fallY 20s 16s infinite linear;

}

.mb_paper2_2_wrap {
    animation: mb_paper_fallX 2s 3s infinite ease-in-out;
}

.mb_paper2_2 {
    left: 45%;
    top: -20vw;
    animation: mb_paper_fallY 20s 2s infinite linear;

}

.mb_paper2_2_cop {
    left: 45%;
    top: -20vw;
    animation: mb_paper_fallY 20s 12s infinite linear;

}

.mb_paper1_3_wrap {
    animation: mb_paper_fallX 2s 4s infinite ease-in-out;
}

.mb_paper1_3 {
    left: 60%;
    top: -20vw;
    animation: mb_paper_fallY 20s 12s infinite linear;

}

.mb_paper1_3_cop {
    left: 60%;
    top: -20vw;
    animation: mb_paper_fallY 20s 22s infinite linear;

}

.mb_paper2_3_wrap {
    animation: mb_paper_fallX 2s 5s infinite ease-in-out;
}

.mb_paper2_3 {
    left: 75%;
    top: -20vw;
    animation: mb_paper_fallY 20s 8s infinite linear;

}

.mb_paper2_3_cop {
    left: 75%;
    top: -20vw;
    animation: mb_paper_fallY 20s 18s infinite linear;

}

.mb_paper1_4_wrap {
    animation: mb_paper_fallX 2s 4s infinite ease-in-out;
}

.mb_paper1_4 {
    left: 90%;
    top: -20vw;
    animation: mb_paper_fallY 20s 4s infinite linear;

}

.mb_paper1_4_cop {
    left: 90%;
    top: -20vw;
    animation: mb_mb_paper_fallY 20s 14s infinite linear;

}

.mb_paper2_4_wrap {
    animation: mb_paper_fallX 2s 7s infinite ease-in-out;
}

.mb_paper2_4 {
    left: 95%;
    top: -20vw;
    animation: mb_paper_fallY 20s 14s infinite linear;

}

.mb_paper2_4_cop {
    left: 95%;
    top: -20vw;
    animation: mb_paper_fallY 20s 24s infinite linear;

}


@keyframes mb_paper_fallY {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(740vw);
    }
}

@keyframes mb_paper_fallX {
    50% {
        transform: translateX(-5vw);
    }
}

.mb_text_door {
    font-size: 3vw;
    bottom: -28vw;
    left: 59%;
}