body {
    height: 100%;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    background-color: #f3f3e5;
    color: #6c90c4;
}
.mobile_ver {
    display: none;
    letter-spacing: 0.25vw;
}

.bulann_mob {
    background-color: #f3f3e5;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 360px;
    max-width: 430px;
}

.mb_box1 {
    position: relative;
    width: 100%;
    height: 200vw;
    left: 3.5vw;
}

.mb_box2 {
    position: relative;
    width: 100%;
    height: 350vw;
    left: 3.5vw;
}

.mb_box3 {
    position: relative;
    width: 100%;
    height: 280vw;
    left: 3.5vw;
}

.mb_box4 {
    position: relative;
    width: 100%;
    height: 350vw;
    left: 3.5vw;
}

.mb_box5 {
    position: relative;
    width: 100%;
    height: 200vw;
    left: 3.5vw;
}

.mb_box6 {
    position: relative;
    width: 100%;
    height: 175vw;
    left: 3.5vw;
}

.mb_box7 {
    position: relative;
    width: 100%;
    height: 240vw;
    left: 3.5vw;
}

#mb_text1 {
    position: absolute;
    text-align: center;
    top: 62vw;
    left: 40vw;
}

#mb_asset1 {
    width: 100vw;
    position: absolute;
}

#mb_asset2 {
    width: 90vw;
    top: 25vw;
    left: 5vw;
    position: absolute;
}

#mb_asset3 {
    width: 30vw;
    top: 80vw;
    left: 35vw;
    position: absolute;
    animation-name: bulann;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes bulann {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(20deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#mb_bulann_1 {
    width: 11vw;
    top: 90vw;
    left: 22vw;
    position: absolute;
}

#mb_bulann_2 {
    width: 11vw;
    top: 105vw;
    left: 24vw;
    position: absolute;
}

#mb_bulann_3 {
    width: 11vw;
    top: 103vw;
    left: 10vw;
    position: absolute;
}

#mb_bulann_4 {
    width: 11vw;
    top: 98vw;
    left: 18vw;
    position: absolute;
}

#mb_bulann_5 {
    width: 11vw;
    top: 95vw;
    left: 63vw;
    position: absolute;
}

#mb_bulann_6 {
    width: 11vw;
    top: 105vw;
    left: 61vw;
    position: absolute;
}

#mb_bulann_7 {
    width: 11vw;
    top: 99vw;
    left: 73vw;
    position: absolute;
}

#mb_cloud1 {
    width: 37vw;
    top: 75vw;
    left: -3vw;
    position: absolute;
    animation-name: cloud1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes cloud1 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(3vw);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes cloud2 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-3vw);
    }
    100% {
        transform: translateX(0%);
    }
}

#mb_cloud2 {
    width: 62vw;
    top: 73vw;
    left: 59vw;
    position: absolute;
    animation-name: cloud2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_cloud3 {
    width: 18vw;
    top: 97vw;
    left: 2vw;
    position: absolute;
    animation-name: cloud1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_cloud4 {
    width: 18vw;
    top: 108vw;
    left: 57vw;
    position: absolute;
    animation-name: cloud2;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note1 {
    width: 5vw;
    top: 96vw;
    left: 18vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note2 {
    width: 5vw;
    top: 103.5vw;
    left: 27vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note3 {
    width: 8vw;
    top: 65vw;
    left: 20vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note4 {
    width: 8vw;
    top: 66vw;
    left: 83vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note5 {
    width: 8vw;
    top: 75vw;
    left: 65vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_note6 {
    width: 7vw;
    top: 85vw;
    left: 72vw;
    position: absolute;
    animation-name: wipwap;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes wipwap {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}

.mb_bulann_text2 {
    color: #588469;
    top: 150vw;
    left: 15vw;
    font-size: 4vw;
    position: relative;
    text-align: center;
    line-height: 8vw;
}

.mb_bulann_text3 {
    color: #588469;
    top: 62vw;
    left: 23vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text4 {
    color: #588469;
    top: 166vw;
    left: 23vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text5 {
    color: #588469;
    top: 280vw;
    left: 22vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text6 {
    color: #588469;
    top: 25vw;
    left: 30vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text7 {
    color: #588469;
    top: 73vw;
    left: 30vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text8 {
    color: #588469;
    top: 178vw;
    left: 30vw;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text9 {
    color: #588469;
    top: 20vw;
    left: 36vw;
    font-size: 5vw;
    position: absolute;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text10 {
    color: #588469;
    top: 85vw;
    left: 36vw;
    font-size: 4vw;
    position: relative;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text11 {
    color: #588469;
    top: 133vw;
    left: 40vw;
    font-size: 4vw;
    position: relative;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text12 {
    color: #588469;
    top: 192vw;
    left: 34vw;
    font-size: 4vw;
    position: relative;
    text-align: center;
    line-height: 7vw;
}

.text_mate {
    position: absolute;
}

.mb_bulann_text13 {
    color: #588469;
    top: 254vw;
    left: 34vw;
    font-size: 4vw;
    position: relative;
    text-align: center;
    line-height: 7vw;
}

.mb_bulann_text14 {
    color: #588469;
    top: 320vw;
    left: 38vw;
    font-size: 4vw;
    position: relative;
    line-height: 7vw;
}

.mb_bulann_text15 {
    color: #588469;
    top: 35vw;
    left: 10vw;
    font-size: 5vw;
    position: relative;
    line-height: 7vw;
}

.mb_bulann_text16 {
    color: #588469;
    top: 60vw;
    left: 50vw;
    font-size: 3vw;
    position: relative;
    line-height: 5vw;
}

.mb_bulann_text17 {
    color: #588469;
    top: 150vw;
    left: 15vw;
    font-size: 4.5vw;
    position: absolute;
    text-align: center;
    line-height: 8vw;
}

.mb_bulann_text18 {
    color: #7a78ea;
    top: 35vw;
    left: 21vw;
    font-size: 4.5vw;
    position: absolute;
    text-align: center;
    line-height: 8vw;
}

.mb_bulann_text19 {
    color: white;
    top: 5vw;
    left: 37vw;
    font-size: 3.5vw;
    position: relative;
    text-align: center;
    line-height: 6vw;
}

.mb_bulann_text20 {
    color: #588469;
    top: 14vw;
    left: 15vw;
    font-size: 5vw;
    position: relative;
    line-height: 6vw;
}

.mb_bulann_text21 {
    color: #93a3eb;
    top: 50vw;
    left: 4vw;
    font-size: 4.5vw;
    position: absolute;
    text-align: center;
    line-height: 8vw;
}

#mb_star1 {
    position: absolute;
    width: 6vw;
    top: 125vw;
    left: 10vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_star2 {
    position: absolute;
    width: 5vw;
    top: 128vw;
    left: 85vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_star3 {
    position: absolute;
    width: 5vw;
    top: 190vw;
    left: 6vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_star4 {
    position: absolute;
    width: 9vw;
    top: 210vw;
    left: 65vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story1 {
    position: absolute;
    width: 70vw;
    top: 5vw;
    left: 20vw;
}

#mb_story2 {
    position: absolute;
    width: 10vw;
    top: 5vw;
    left: 6vw;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story3 {
    position: absolute;
    width: 42vw;
    top: 14vw;
    left: 10vw;
    animation-name: updown;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story4 {
    position: absolute;
    width: 5vw;
    top: 45vw;
    left: 7vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story5 {
    position: absolute;
    width: 5vw;
    top: 110vw;
    left: 7vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story6 {
    position: absolute;
    width: 27vw;
    top: 133vw;
    left: 58vw;
    animation-name: tranx2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story7 {
    position: absolute;
    width: 38vw;
    top: 125vw;
    left: 13vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story8 {
    position: absolute;
    width: 45vw;
    top: 142vw;
    left: 36vw;
    animation-name: tranx2;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story9 {
    position: absolute;
    width: 8vw;
    top: 113vw;
    left: 70vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story10 {
    position: absolute;
    width: 29vw;
    top: 235.5vw;
    left: 50vw;
}

#mb_story11 {
    position: absolute;
    width: 25vw;
    top: 250vw;
    left: 35vw;
}

#mb_story12 {
    position: absolute;
    width: 7vw;
    top: 235vw;
    left: 17vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story13 {
    position: absolute;
    width: 4.5vw;
    top: 260vw;
    left: 10vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story14 {
    position: absolute;
    width: 4.5vw;
    top: 225vw;
    left: 80vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story15 {
    position: absolute;
    width: 4vw;
    top: 340vw;
    left: 25vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story16 {
    position: absolute;
    width: 7vw;
    top: 330vw;
    left: 75vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story17 {
    position: absolute;
    width: 100vw;
    top: 37vw;
    left: 36vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story18 {
    position: absolute;
    width: 80vw;
    top: 150vw;
    left: 30vw;
    animation-name: tranx2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story19 {
    position: absolute;
    width: 18vw;
    top: 120vw;
    left: 60vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story20 {
    position: absolute;
    width: 20vw;
    top: 115vw;
    left: 15vw;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_story21 {
    position: absolute;
    width: 50vw;
    top: 210vw;
    left: 20vw;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes updown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(3vw);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes tranx {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(3vw);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes tranx2 {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-3vw);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(10deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

#mb_mate1 {
    position: absolute;
    width: 30vw;
    top: 50vw;
    left: 35vw;
}

#mb_mate2 {
    position: absolute;
    width: 40vw;
    top: 100vw;
    left: 20vw;
}

#mb_mate3 {
    position: absolute;
    width: 45vw;
    top: 150vw;
    left: 30vw;
}

#mb_mate4 {
    position: absolute;
    width: 40vw;
    top: 220vw;
    left: 25vw;
}

#mb_mate5 {
    position: absolute;
    width: 40vw;
    top: 280vw;
    left: 25vw;
}

#mb_mate6 {
    position: absolute;
    width: 5vw;
    top: 25vw;
    left: 75vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate7 {
    position: absolute;
    width: 7vw;
    top: 25vw;
    left: 6vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate8 {
    position: absolute;
    width: 5vw;
    top: 50vw;
    left: 6vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate9 {
    position: absolute;
    width: 60vw;
    top: 40vw;
    left: 75vw;
}

#mb_mate10 {
    position: absolute;
    width: 55vw;
    top: 70vw;
    left: -23vw;
}

#mb_mate11 {
    position: absolute;
    width: 55vw;
    top: 87vw;
    left: 63vw;
}

#mb_mate12 {
    position: absolute;
    width: 45vw;
    top: 110vw;
    left: -30vw;
}

#mb_mate13 {
    position: absolute;
    width: 45vw;
    top: 105vw;
    left: 93vw;
}

#mb_mate14 {
    position: absolute;
    width: 30vw;
    top: 122vw;
    left: 0vw;
}

#mb_mate15 {
    position: absolute;
    width: 30vw;
    top: 175vw;
    left: -2vw;
}

#mb_mate16 {
    position: absolute;
    width: 55vw;
    top: 200vw;
    left: 65vw;
}

#mb_mate17 {
    position: absolute;
    width: 15vw;
    top: 75vw;
    left: 65vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate18 {
    position: absolute;
    width: 15vw;
    top: 140vw;
    left: 70vw;
    animation-name: tranx2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate19 {
    position: absolute;
    width: 15vw;
    top: 260vw;
    left: 70vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_mate20 {
    position: absolute;
    width: 15vw;
    top: 310vw;
    left: 5vw;
    animation-name: tranx2;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_people1 {
    position: absolute;
    width: 55vw;
    top: 10vw;
    left: -25vw;
}

#mb_people2 {
    position: absolute;
    width: 60vw;
    top: 20vw;
    left: 52vw;
}

#mb_people3 {
    position: absolute;
    width: 50vw;
    top: 75vw;
    left: 5vw;
    animation-name: people_updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

#mb_people4 {
    position: absolute;
    width: 38vw;
    top: 82vw;
    left: 60vw;
    animation-name: people_updown;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: ease;
}

#mb_people5 {
    position: absolute;
    width: 20vw;
    top: 110vw;
    left: 40vw;
}

#mb_people6 {
    position: absolute;
    width: 35vw;
    top: 90vw;
    left: 50vw;
}

@keyframes people_updown {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(3vw);
    }
    100% {
        transform: translateY(0%);
    }
}

#mb_game1 {
    position: absolute;
    width: 100vw;
    top: 10vw;
    left: 1vw;
}

#mb_game2 {
    position: absolute;
    width: 40vw;
    top: 3vw;
    left: 30vw;
}

#mb_game3 {
    position: absolute;
    width: 25vw;
    top: 0vw;
    left: 64vw;
    animation-name: rotate;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game4 {
    position: absolute;
    width: 8vw;
    top: 23vw;
    left: 45vw;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game5 {
    position: absolute;
    width: 10vw;
    top: 23vw;
    left: 20vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game6 {
    position: absolute;
    width: 8vw;
    top: 20vw;
    left: 70vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game7 {
    position: absolute;
    width: 50vw;
    top: 120vw;
    left: 25vw;
}

#mb_game8 {
    position: absolute;
    width: 15vw;
    top: 140vw;
    left: 13vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game9 {
    position: absolute;
    width: 10vw;
    top: 120vw;
    left: 17vw;
    animation-name: wipwap;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_textbox1 {
    position: absolute;
    width: 80vw;
    top: 45vw;
    left: 10vw;
}

#mb_textbox2 {
    position: absolute;
    width: 60vw;
    top: 100vw;
    left: 25vw;
}

#mb_textbox3 {
    position: absolute;
    width: 80vw;
    top: 150vw;
    left: 8vw;
}

#mb_textbox4 {
    position: absolute;
    width: 30vw;
    top: 220vw;
    left: 20vw;
}

#mb_textbox5 {
    position: absolute;
    width: 80vw;
    top: 260vw;
    left: 10vw;
}

#mb_textbox6 {
    position: absolute;
    width: 80vw;
    top: 10vw;
    left: 10vw;
}

#mb_textbox7 {
    position: absolute;
    width: 80vw;
    top: 60vw;
    left: 10vw;
}

#mb_textbox8 {
    position: absolute;
    width: 80vw;
    top: 170vw;
    left: 10vw;
}

#mb_textbox9 {
    position: absolute;
    width: 50vw;
    top: 10vw;
    left: 20vw;
}

#mb_textbox10 {
    position: absolute;
    width: 55vw;
    top: 55vw;
    left: 40vw;
}


/* game */

#mb_game_img {
    position: absolute;
    width: 40vw;
    left: 30vw;
    top: 120vw;
}

#mb_game_img2 {
    position: absolute;
    width: 25vw;
    left: 25vw;
    top: 130vw;
    animation: game 3s infinite linear;
    /* visibility: hidden; */
}

#mb_game_img2_check {
    position: absolute;
    width: 25vw;
    left: 25vw;
    top: 130vw;
    visibility: hidden;
}

#mb_game_img2_win {
    position: absolute;
    width: 25vw;
    left: 36vw;
    top: 130vw;
    visibility: hidden;
}

#mb_game_img2_win2 {
    position: absolute;
    width: 25vw;
    left: 38vw;
    top: 130vw;
    visibility: hidden;
}

.mb_click_zone {
    width: 37vw;
    height: 20vw;
    background-color: transparent;
    position: absolute;
    left: 31vw;
    top: 130vw;
}

@keyframes pop_text {
    0% {
        transform: scale(0);
    }
    70% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes pop_down_text {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

#mb_game_img3 {
    position: absolute;
    width: 4vw;
    left: 60vw;
    top: 8vw;
    animation-name: star_game;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_game_img4 {
    position: absolute;
    width: 4vw;
    left: 70vw;
    top: 8vw;
    animation-name: star_game2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.mb_bulanngame {
    position: absolute;
}

#mb_bg_game {
    width: 100%;
    position: absolute;
    top: 365vw;
    left: 0;
}

#mb_result_game {
    position: absolute;
    width: 80vw;
    top: 70.5vw;
    left: 15vw;
    visibility: hidden;
}

#mb_result_game_text {
    color: white;
    text-align: center;
    position: absolute;
    top: 76vw;
    left: 27vw;
    visibility: hidden;
}

#mb_result_game_text_fail {
    color: white;
    text-align: center;
    position: absolute;
    top: 78vw;
    left: 23vw;
    visibility: hidden;
}

#mb_replay {
    color: lightyellow;
    position: absolute;
    top: 26vw;
    left: 20vw;
}

#mb_replay:hover {
    cursor: pointer;
}

.mb_text_re_big {
    font-size: 5vw;
}

.mb_text_re_small {
    font-size: 4vw;
}

@keyframes game {
    0% {
        transform: translateX(0vw);
    }
    50% {
        transform: translateX(20vw);
    }
    100% {
        transform: translateX(0vw);
    }
}

@keyframes star_game {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1.0);
    }
}

@keyframes star_game2 {
    0% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(0.5);
    }
}

#mb_game_bg {
    position: absolute;
    width: 100vw;
    top: 10vw;
    left: 1vw;
}

#mb_asset69 {
    position: absolute;
    width: 80vw;
    top: 5vw;
    left: -5vw;
}

#mb_asset70 {
    position: absolute;
    width: 180vw;
    top: 110vw;
    left: -40vw;
}

#mb_asset71 {
    position: absolute;
    width: 50vw;
    top: 140vw;
    left: 10vw;
}

#mb_asset72 {
    position: absolute;
    width: 40vw;
    top: 132vw;
    left: 16vw;
}

#mb_asset73 {
    position: absolute;
    width: 12vw;
    top: 130vw;
    left: 60vw;
    animation-name: updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_asset76 {
    position: absolute;
    width: 10vw;
    top: 123vw;
    left: 45vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_asset77 {
    position: absolute;
    width: 20vw;
    top: 115vw;
    left: 60vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_asset78 {
    position: absolute;
    width: 10vw;
    top: 110vw;
    left: 83vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

#mb_asset79 {
    position: absolute;
    width: 140vw;
    top: 145vw;
    left: -60vw;
    animation-name: tranx;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

.bulann_last {
    position: absolute;
}
/** CSS Menubar**/
#mb_menubar  {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top : 0vw;
    right: 0;
    background-color: #f3f3e5;
    opacity: 0.8;
    z-index: 200;
    transform: translateX(50vw);
}
.mb_text_menu{
      color: #548a71;
      position: absolute;
      font-size: 2.5vw;
}
.mb_text_menu:hover{
    animation: font_up 0.2s linear;
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}
.mb_menu1{
    top : 10vh;
    left:20vw;
}
.mb_menu2{
    top : 20vh;
    left:20vw;
}
.mb_menu3{
    top : 30vh;
    left:20vw;
}
.mb_menu4{
    top : 40vh;
    left:20vw;
}
.mb_menu5{
    top : 50vh;
    left:20vw;
}
@keyframes font_up{
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}
@keyframes mb_menu_slide{
    0% {transform: translateX(50vw);}
    100% {transform: translateX(0vw);}
}
@keyframes mb_menu_back{
    0% {transform: translateX(0vw);}
    100% {transform: translateX(50vw);}
}
.mb_back_arrow{
    position: absolute;
    top: 2.5vw;
    left: 1.5vw;
    width: 5vw;
}
.mb_back_arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: font_up .2s ease-in-out; 
}

.mb_text_door {
    z-index: 10;
    left: 30.5vw;
    bottom: -35.5vw;
}
@media only screen and (max-width: 430px) {
    .mobile_ver {
        display: block;
    }
}