body {
    height: 100%;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    background-color: #f3f3e5;
}

.el_pos {
    position: absolute;
}

/**Mobile**/
.mobile_ver{
    display: none;
    letter-spacing: 0.25vw;
    line-height: 1.75;
}
.mob_menu{
    position: fixed;
    right: 1vw;
    top: 2vw;
    width: 6vw;
    z-index: 100;
}

.mob_EFC_body {
    color: #578b72;
    background-color: #f3f3e5;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 360px;
    max-width: 430px;
}

.mb_font {
    font-size: 7vw;
}

.mb_font1 {
    font-size: 5vw;
}

/* Block 1 */

.mb_block1 {
    position: relative;
    width: 100%;
    height: 700vw;
}

.mb_el1 {
    width: 100vw;

}

.mb_el2 {
    width: 70vw;
    left: 15vw;
    top: 21vw;
}

.mb_el4 {
    width: 96vw;
    left: -100vw;
    top: 48vw;
    animation-name: mb_kratong_float;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}

@keyframes mb_kratong_float {
    0% {
        transform: translateX(0vw);
    }

    100% {
        transform: translateX(200vw);
    }

}

.mb_el5 {
    width: 130vw;
    left: -12vw;
    top: 10vw;
}

.mb_L1 {
    color: #6c90c4;
    left: 28vw;
    top: 80vw;
}

.mb_el6 {
    width: 65vw;
    left: 17.5vw;
    top: 110vw;
    animation-name: spin;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mb_el7 {
    width: 15vw;
    left: 63vw;
    top: 163vw;
    transform: rotateZ(-150deg);
    animation-name: spin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mb_el8 {
    width: 40vw;
    left: -50vw;
    top: 40vw;
    animation-name: mbfall_down;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}


@keyframes mbfall_down {
    0% {
        transform: translateY(0%) translateX(0%);
    }

    100% {
        transform: translateY(120vw) translateX(150vw);
    }
}

.mb_el10 {
    width: 8vw;
    left: 5vw;
    top: 75vw;
    animation-name: spin;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mb_el11 {
    width: 10vw;
    right: 5vw;
    top: 85vw;
    animation-name: spin;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mb_L2 {
    text-align: center;
    left: 12vw;
    top: 195vw;
}

.mb_el12 {
    width: 100vw;
    top: 345vw;
}

.mb_el13 {
    width: 100vw;
    top: 355vw;
}

.mb_el14 {
    width: 130vw;
    left: -15vw;
    top: 250vw;
}

.mb_el15 {
    width: 25vw;
    left: -50vw;
    top: 220vw;
    animation-name: mbfall_down;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.mb_el16 {
    width: 90vw;
    left: 5vw;
    top: 275vw;
}

.mb_el17 {
    width: 80vw;
    left: 10vw;
    top: 415vw;
}

.mb_L3 {
    text-align: center;
    left: 14vw;
    top: 500vw;
}

.mb_el18 {
    width: 30vw;
    left: 5vw;
    top: 585vw;
    animation-name: fly;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.mb_el19 {
    width: 30vw;
    right: 5vw;
    top: 580vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*Block 2*/

.mb_block2 {
    position: relative;
    width: 100%;
    height: 650vw;
}

.mb_el20 {
    width: 100vw;
}

.mb_el21 {
    width: 100vw;
    top: 105vw;
}

.mb_el22 {
    width: 100vw;
    top: 95vw;
}

.mb_el23 {
    width: 40vw;
    left: -50vw;
    top: -50vw;
    animation-name: mbfall_down;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

.mb_flower1_culture {
    width: 15%;
    position: absolute;
    top: 115vw;
    right: 8vw;
    animation: flower_spin 2s linear infinite;
}

.mb_flower2_culture {
    width: 12%;
    position: absolute;
    top: 82vw;
    left: 7vw;
    animation: flower_spin 2s linear infinite;
}

.mb_flower3_culture {
    width: 6%;
    position: absolute;
    top: 95vw;
    left: 8vw;
    animation: flower_spin 2s linear infinite;
}

.mb_flower4_culture {
    width: 15%;
    position: absolute;
    top: -5vw;
    right: 15vw;
    animation: flower_spin 2s linear infinite;
}

.mb_flower5_culture {
    width: 6%;
    position: absolute;
    top: 5vw;
    right: 30vw;
    animation: flower_spin 2s linear infinite;
}

.mb_el26 {
    width: 80vw;
    left: 12vw;
    top: 48.2vw;
}

.mb_el27 {
    width: 75vw;
    left: 12.5vw;
    top: 22vw;
}

.mb_L4 {
    left: 20vw;
    top: 23vw;
}

.mb_el28 {
    top: 129vw;
}

.mb_L5 {
    left: 19.5vw;
    top: 145vw;
}

.mb_L6 {
    text-align: center;
    left: 6vw;
    top: 162vw;
}

.mb_el29 {
    width: 110vw;
    left: -5vw;
    top: 250vw;
}

.mb_el30 {
    width: 90vw;
    left: 5vw;
    top: 283vw;
}

.mb_L7 {
    text-align: center;
    color: white;
    left: 14vw;
    top: 297vw;
    font-size: 4.5vw;

}

.mb_el31 {
    width: 90vw;
    left: -23vw;
    top: 380vw;
}

.mb_el32 {
    width: 90vw;
    right: -23vw;
    top: 530vw;
}

.mb_el33 {
    width: 80vw;
    left: -30vw;
    top: 560vw;
}

.mb_el34 {
    width: 15vw;
    top: 343vw;
    left: 25vw;
}

.mb_el35 {
    width: 15vw;
    top: 430vw;
    right: 35vw;
}

.mb_el36 {
    width: 15vw;
    top: 525vw;
    left: 15vw;
}

.mb_el37 {
    width: 13vw;
    top: 405vw;
    right: 18vw;
}

.mb_el38 {
    width: 35vw;
    left: 8vw;
    top: 370vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mb_el39 {
    width: 56vw;
    left: 24vw;
    top: 345vw;
}

.mb_L8 {
    left: 36vw;
    top: 350.5vw;
}

.mb_el41 {
    width: 70vw;
    top: 460vw;
    right: 5vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mb_el40 {
    width: 60vw;
    left: 30vw;
    top: 430vw;
}

.mb_L9 {
    left: 34vw;
    top: 437vw;
}

.mb_el42 {
    width: 60vw;
    left: 20vw;
    bottom: 28vw;
}

.mb_L10 {
    left: 35.5vw;
    bottom: 29vw;
}



/* Block 3 */

.mb_block3 {
    position: relative;
    width: 100%;
    height: 620vw;
}

.mb_el43 {
    width: 100vw;
}

.mb_el44 {
    width: 80vw;
    left: 10vw;
    top: -19vw;
}

.mb_el45 {
    width: 100vw;
    top: 76.5vw;
}

.mb_el46 {
    width: 80vw;
    right: -10vw;
    top: 140vw;
}

.mb_el47 {
    width: 85vw;
    left: -46vw;
    top: 280vw;
}

.mb_el48 {
    width: 80vw;
    left: 5vw;
    top: 320vw;
}

.mb_el49 {
    width: 35vw;
    left: 8vw;
    top: 340vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mb_el50 {
    width: 18vw;
    right: 25vw;
    top: 115vw;
}

.mb_el51 {
    width: 15vw;
    left: 18vw;
    top: 170vw;
}

.mb_el52 {
    width: 15vw;
    right: 15vw;
    top: 190vw;
}

.mb_el53 {
    width: 12vw;
    right: 15vw;
    top: 255vw;
}

.mb_el54 {
    width: 70vw;
    right: 15vw;
    top: 198vw;
    animation-name: fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.mb_el55 {
    width: 15vw;
    right: 20vw;
    top: 390vw;
}

.mb_L11 {
    color: #3a3a37;
    left: 12.8vw;
    top: -28vw;
}

.mb_L12 {
    color: #3a3a37;
    right: 16.5vw;
    top: -28vw;
}

.mb_L13 {
    color: #3a3a37;
    left: 12vw;
    top: 85vw;
}

.mb_L14 {
    color: #3a3a37;
    right: 14.5vw;
    top: 85vw;
}

.mb_L15 {
    color: #898986;
    left: 12.8vw;
    top: -22vw;
}

.mb_L16 {
    color: #898986;
    right: 8vw;
    top: -22vw;
}

.mb_L17 {
    color: #898986;
    left: 12.8vw;
    top: 91vw;
}

.mb_L18 {
    color: #898986;
    right: 8vw;
    top: 91vw;
}
.mb_next {
    width: 7vw;
    position: absolute;
    top: 175vw;
    left: 92.5%;
    opacity: 0;
    animation-name: show_scroll;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.mb_back {
    width: 7vw;
    position: absolute;
    top: 175vw;
    left: 0%;
    opacity: 0;
    animation-name: show_scroll2;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
.mb_el56_1 {
    width: 80vw;
    left: 10vw;
    top: 160vw;
}
.mb_el56_2 {
    width: 80vw;
    left: 10vw;
    top: 160vw;
    visibility: hidden;
}
.mb_el56_3 {
    width: 80vw;
    left: 10vw;
    top: 160vw;
    visibility: hidden;
}
.mb_el56_4 {
    width: 80vw;
    left: 10vw;
    top: 160vw;
    visibility: hidden;
}

.mb_L19 {
    text-align: center;
    left: 18vw;
    top: 168vw;
    visibility: hidden;
}

.mb_L20_1 {
    text-align: center;
    left: 12vw;
    top: 172vw;
    visibility: hidden;
    font-size: 4.5vw;
}
.mb_L20_2 {
    text-align: center;
    left: 17vw;
    top: 170vw;
    visibility: hidden;
    font-size: 4.5vw;
}

.mb_L21 {
    text-align: center;
    left: 12vw;
    top: 171vw;
    font-size: 4.5vw;
}
@keyframes mb_pop_text {
    0% {
        transform: scale(0) rotateY(180deg);
    }

    70% {
        transform: scale(1.1)rotateY(180deg);
    }

    100% {
        transform: scale(1)rotateY(180deg);
    }
}
@keyframes mb_pop_down_text {
    0% {
        transform: scale(1) rotateY(180deg);
    }

    100% {
        transform: scale(0) rotateY(180deg);
    }
}
.mb_el57 {
    width: 60vw;
    left: 24vw;
    top: 310vw;
}

.mb_L22 {
    text-align: center;
    left: 37vw;
    top: 316vw;
}

.mb_L23 {
    color: white;
    left: 10vw;
    top: 410vw;
}

.mb_L24 {
    color: #eff8ed;
    left: 10vw;
    top: 437.5vw;
}

.mb_el58 {
    width: 95vw;
    right: -10vw;
    bottom: 30vw;
}



/** Door **/

.mb_bottom_container {
    background-color: transparent;
    width: 100vw;
    text-align: center;
    height: 32.5vw;
    position: absolute;
    bottom: 33vw;
}

.mb_door_mirror {
    position: relative;
    width: 100%;
    height: 100%;
    color: #488167;

}

.mb_mirrorbreak_door {
    width: 200%;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 3;

}

.mb_mirrorback_door {
    width: 100%;
    position: absolute;
    top: 15vw;
    left: 0vw;
    z-index: 3;
    animation-name: mirrorback_fly;
    animation-duration: 3s;
    animation-iteration-count: infinite;

}

.mb_title_door {
    font-size: 4.5vw;
    position: absolute;
    top: 23vw;
    left: 20.5vw;
    text-align: left;
    z-index: 3;
    color: #7194c5;
}

.mb_door1 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 17vw;
    z-index: 3;

}

.mb_door2 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 31vw;
    z-index: 3;

}

.mb_door3 {
    width: 10%;
    position: absolute;
    top: 36vw;
    left: 45vw;
    z-index: 3;

}

.mb_door4 {
    width: 10%;
    position: absolute;
    top: 36vw;
    right: 31vw;
    z-index: 3;

}

.mb_door5 {
    width: 10%;
    position: absolute;
    top: 36vw;
    right: 17vw;
    z-index: 3;

}

@keyframes mirrorback_fly {
    50% {
        transform: translateY(2vw);
    }
}
@media only screen and (max-width: 430px) {
  .mobile_ver {display: block;}
}
/** CSS Menubar**/
#mb_menubar  {
    position: fixed;
    width: 50vw;
    height: 100vh;
    top : 0vw;
    right: 0;
    background-color: #f3f3e5;
    opacity: 0.8;
    z-index: 200;
    transform: translateX(50vw);
}
.mb_text_menu{
      color: #548a71;
      position: absolute;
      font-size: 2.5vw;
}
.mb_text_menu:hover{
    animation: font_up 0.2s linear;
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: underline;
}
.mb_menu1{
    top : 10vh;
    left:20vw;
}
.mb_menu2{
    top : 20vh;
    left:20vw;
}
.mb_menu3{
    top : 30vh;
    left:20vw;
}
.mb_menu4{
    top : 40vh;
    left:20vw;
}
.mb_menu5{
    top : 50vh;
    left:20vw;
}
@keyframes font_up{
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}
@keyframes mb_menu_slide{
    0% {transform: translateX(50vw);}
    100% {transform: translateX(0vw);}
}
@keyframes mb_menu_back{
    0% {transform: translateX(0vw);}
    100% {transform: translateX(50vw);}
}
.mb_back_arrow{
    position: absolute;
    top: 2.5vw;
    left: 1.5vw;
    width: 5vw;
}
.mb_back_arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: font_up .2s ease-in-out; 
}

.mb_text_door {
    z-index: 10;
    font-size: 3vw;
    left: 30.5vw;
    bottom: -35.5vw;
}